<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow p-4" style="width: 400px;">
        <h3 class="text-center mb-4">Suivi des Marchés</h3>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" (click)="login('CHEF')">
                <i class="bi bi-person-badge-fill"></i> Connexion Chef de Service
            </button>

            <button class="btn btn-success" (click)="login('EMPLOYEE')">
                <i class="bi bi-person-workspace"></i> Connexion Employé
            </button>
        </div>
    </div>
</div>